<div class="yui-g edit-control">
	<ul id="edit-menu" class="undecorated">
		<li class="first"><%= link_to "Wiki",pages_path %></li>
		<li><%= link_to "Support Requests", support_requests_path %></li>
		<li><%= link_to "Add News", new_news_item_path %></li>
		<li><%= link_to "View News", news_items_path %></li>
		<li><%= link_to "View Users", users_path %></li>
	</ul>
</div>